$color-primary: #cca4a5;
$color-light: #f7f7f7;
$color-secondary: #647974;
$color-accent: #304246;
$color-text: darken($color-accent, 10%);

$font-primary: 'Old Standard TT';
$font-secondary: 'Lemon Tuesday';

